body {
 background-color: #fff6e8;   
}
.btnsprog {
    font-size: 125%;
    height: 40px;
    cursor: pointer;
    background-color: #ffffff;
    border-color: #707070;
    width: 75%;
    margin-left: 10%;
    border-radius: 50px;
}

.btnsprog:active {
    background-color: #008000;
}
.btnsprog:focus {
    background-color: #008000;
}

.box {
    height: 70px;
    width: 180px;
    background-color: #FFF6E8;
    margin-top: 30px;
    margin-left: 12%;
    border-radius: 50px;
    border-color: #FF7F00;
}

a {
    text-decoration: none;
    font-size: 36px;
    color: #2F2924;
}

.fjerndots {
    list-style: none;
}

.sprogSideStylingKnap {
    margin-top: 10%;
    
}

