
/*reset css */
body {
  margin: 0;
  padding: 0;
}

/* helper classes: */
.centerText
{
    text-align: center;
}



.container{          /* Flexbox container med mid align */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#welcome a{
  width: 250px;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  border: 3px solid #FF7F00;
  background-color: #FFF6E8;
  font-size: 20px;
  font-family: Segoe UI;
  font-weight: bold;
  color: #2F2924;
  margin: 25px;
  margin-top: 10px;
  padding: 15px;
}

/* Burger menu start--------------------------------------------------------------------------- */
#wss{
  opacity:0;
  -webkit-transition:opacity 1.0s cubic-bezier(.24,.57,.91,.74) 0s;
  transition:opacity 1.0s cubic-bezier(.24,.57,.91,.74) 0s;
  }

body { 
  margin:0px; background:#999; 
}
/* indholdet i containeren (menubaren) */
.containerx {
margin: 0%;
position: absolute;
top: 80px;
left: 10%;
display: flex;
}
.roundedimages {
border-radius: 50%;
padding: 3px;
}
.hjemtekst {
position: absolute;
top: -10px;
left: 140%;
font-size: 1.2em;
color: #FFF6E8
} 
.facebooktekst {
position: absolute;
top: 60px;
left: 140%;
font-size: 1.2em;
color: #FFF6E8
}
.facebookbilled {
position: absolute;
top: 75px;
left: 3%;
}
.contacttekst {
position: absolute;
top: 135px;
left: 140%;
font-size: 1.2em;
color: #eab44c;
}
.contactbilled {
position: absolute;
top: 145px;
left: 7%;
}
.rutetekst {
position: absolute;
top: 207px;
left: 140%;
font-size: 1.2em;
color: #FFF6E8;
}
.rutebilled {
position: absolute;
top: 230px;
left: 30%;

}
.ingenfarve {
text-decoration: none;
color: #FFF6E8;
}
.ingenFarve {
color: #FFF6E8;
text-decoration: none;
text-decoration: underline;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sprogtekst{
position: absolute;
top: 300px;
left: 77px;
font-size: 1.8em;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: #FFF6E8;
}
.underline {
position: absolute;
top: 320px;
left: -44px;
font-size: 1.8em;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: #FFF6E8;
}
.danskflag {
position: absolute;
top: 400px;
left: -5px;
}
.franskflag {
position: absolute;
top: 400px;
left: 65px;
}
.britiskflag {
position: absolute;
top: 400px;
left: 135px;
}
.tyskflag {
position: absolute;
top: 400px;
left: 205px;
}
.roundedflag {
border-radius: 75%;
padding: 3px;
}
.milmustekst {
position: absolute;
top: 460px;
left: 32px;
font-size: 1.2em;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: #FFF6E8;
}
/* array i container */
#wss{
float:left;
width:250px;
height:20px;
margin-left: 12px;
font-size:36px;
  color: #FFF6E8;
font-family: Arial, Helvetica, sans-serif;
padding-top: 0px;
}
/* knappen til container */
div#topbar > #sections_btn_holder{

  width:100x;
  height:46px;
  padding-top:5px;/*  ændring fra 145 */
  padding-bottom: 5px; /* tilføjet */
  margin-left: 0px;
  z-index: 20000;
  }
  div#topbar > #sections_btn_holder > button{ 
  background: #2F2924;
  color: #FFF6E8;
  text-decoration: none;
  font-size: 32px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 0px;
  outline: none; 
  border: none;
  }
  

  div#topbar > #sections_panel{
  position:absolute;
  height:0px;
  width:350px;
  background:#FFF6E8;
  top:50px;
  left:0px;
  border-radius: 0px 20px 20px 0px;
  overflow:hidden;
  z-index:10000;
  transition: height 0.3s cubic-bezier(.24,.57,.91,.74) 0s;
  }

div#topbar > #sections_panel > div{
background: #2f2924;
padding-bottom: 20px;
padding-right: 20px;
padding-top: 20px;
padding-left: 20px;
height:540px; /* value skal være mindre en Js value i function - kan ændre hvis menu skal være større */
margin-bottom: 10px;
margin-right: 10px;
margin-top: 10px;
margin-left: 0px;
border-radius: 0px 20px 20px 0px;
}


#topbar {
position: sticky;
top: 0;
}
/* Burgermenu Slut------------------------------------------------------------------ */

.startTuren{
    margin-top: 100px;
}


.title {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
 
/* Slider start------------------------------------------------------------ */
.show-close {
    display: none;
  }
  .hide-close {
   display: inline-flex;
   margin-left: 95%;
  
  }
  
  .show-open {
    display: inline-flex;
    
  }
  .hide-open {
   display: none;
  }
  
  
  
  /* Slideshow container */
  .slideshow-container {
      position: relative;
      max-width: 1000px;
      width: 100%;
      justify-content: center;  
      z-index: 100;
  }
  
  .mySlides img{
    width: 100%;
  }
  .slideshow-fullscreen {
    margin: 0;
    padding: 0;
    background-color: #000000;
    max-width: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
  
  }
  
  .slideshow-fullscreen img {
    max-height: 1000px;
    width: 100%;
    object-fit: contain;
  }
  
  .open a {
    margin-left: 900px;
    color: #f2f2f2;
    text-decoration: none;
  }
  
  .close a {
    font-size: 15px;
    top: 0;
    margin-left: 1880px;
    color: #f2f2f2;
    text-decoration: none;
  }
  
  .prev-fullscreen {
    left: 0;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 25px;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.8);
  }
  
  
  /* Position the "next button" to the right */
  .next {
    right: 0%;
   
    border-radius: 3px 0 0 3px;
  }
  
  .next-fullscreen {
    right: 0;
    width: 24px;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    display: flex;
    color: #f2f2f2;
    background-color:rgba(0,0,0,0.8);
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 975px;
    /* top: 630px; */
    height: 20px;
    justify-content: space-between;
  }
  
  .text-fullscreen {
    color: #f2f2f2;
    background-color:rgba(0,0,0,0.8);
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 98.4%;
    height: 20px;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 12px;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  
  .img-list-hidden img{
   display: none;
  }
  
  .img-list {
    padding-left: 24%;
    justify-content: center;
    cursor: pointer;
    height: 15px;
    max-width: 1000px;
    margin: 0 2px;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .img-list img {
      width: 121px;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 812px) {
  
  .hide-close {
    display: inline-flex;
    margin-left: 88%;
  }
  }

  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 375px) {


    .prev, .next,.text {font-size: 11px}

      .img-list {
    padding: 0;
  }

  .text {
    max-width: 350px ;
  }

  .slideshow-fullscreen img {

    padding-top: 70%;
  }
  .hide-close {
    display: inline-flex;
    margin-left: 75%;
  }

body {
  width: 375px;
  overflow: hidden;
}

  }



  /* Slider Slut--------------------------------------------------------- */